.DS_Store
.env

__pycache__/
Hello-Agents/__pycache__/
*.pyc
*.pyo
*.pyd
pkg/
.venv312/
Hello-Agents/pkg/HelloAgents-0.2/hello_agents/__pycache__/
!Hello-Agents/pkg/HelloAgents-0.2/hello_agents
Hello-Agents/models
.venv3127/